.header .navbar {
  background: #7c2b2b; /* maroon */
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 14px 20px;
  justify-content: space-between;
}

  .name {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: auto;
    width: auto;
  }

  .logo {
    flex-shrink: 3;
    margin-right: 0;
    display: flex;
    align-items: left;
    padding: 0;
    grid-column: 1/2;
    width: 70px;
}

  .namePos {
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 18px;
    margin-left: 0;
    grid-column: 2/2;
    padding: 14px 20px;
}

  .nav a {
    color: #fff;
    margin: 0 8px;
    font-size: 14px;
    opacity: 0.95;
  }

  .searchBar[type="search"]{
    padding: 6px 10px;
    border-radius: 18px;
    border: none;
    min-width: 160px;
  }


/* Bgackground */

.bg1 {
    background-image: url('Kiel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150vh;
    margin: 0;
    padding-top: 0;
}

/* login and registration form styles */


.account-type-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    grid-template-rows: 1fr 1fr;   /* for left column rows */
    gap: 20px;
    margin: 0 auto;
    max-width: 500px;
    justify-content: center;
    text-align: center;
    height : fit-content;
}



.account-type-section {
    text-align: center;
    margin-top: 0px;
}

.account-buttons {  
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.acc-btn {
    background: #fff;
    border: 2px solid #7c2b2b;
    padding: 20px;
    border-radius: 12px;
    width: 375px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.acc-btn {
    background: #ffe5e5;
}
.acc-btn:focus {
    background: #903131;
  }
  .acc-btn:visited {
    background: #903131;
  }


.acc-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}


/* Sign-in Form */
.signin-container {
    width: 320px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border: 2px solid #7c2b2b;
    border-radius: 10px;
    
}

.signin-container h2 {
    text-align: center;
    color: #7c2b2b;
}

#signinForm input {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 93%;
    height: 57px;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

#signinBtn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #7c2b2b;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#signinBtn:hover {
    background: #5a1f1f;
}

